
/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}




/* quests + contact */

.main{
    width: 100%;
    height: 1896px;
    background-color:#1A1B1F;
}
.text{
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.sectext{
    color: #FFF;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 177px;
}
.list_box1{
    width: 1207px;
    height: 82px;
    background-color: #1A1B1F;
    margin: auto;
    margin-top: 70px;
    color: #FFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    position: relative;
}
.list_box2{
    width: 1207px;
    height: 82px;
    background-color: #1A242E;
    margin: auto;
    margin-top: 10px;
    color: #FFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    position: relative;
}
.list_box3{
    width: 1207px;
    height: 82px;
    background-color: #1A1B1F;
    margin: auto;
    margin-top: 10px;
    color: #FFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    position: relative;
}
.list_box4{
    width: 1207px;
    height: 122px;
    background-color: #1A242E;
    margin: auto;
    margin-top: 10px;
    color: #FFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    position: relative;
}
.list_box5{
    width: 1207px;
    height: 82px;
    background-color: #1A1B1F;
    margin: auto;
    margin-top: 10px;
    color: #FFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    position: relative;
}
.list_box6{
    width: 1207px;
    height: 82px;
    background-color: #1A242E;
    margin: auto;
    margin-top: 10px;
    color: #FFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    position: relative;
}
#KO{
    position: absolute;
    top: 29px;
    right: 20px;
}
.textt{
    color: #4F6173;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
    position: absolute;
    top: 73px;
    left: 20px;
}
.textt1{
    position: absolute;
    top: 31px;
    left: 20px;
}
.textt2{
    position: absolute;
    top: 31px;
    left: 20px;
}
.textt3{
    position: absolute;
    top: 31px;
    left: 20px;
}
.textt4{
    position: absolute;
    top: 31px;
    left: 20px;
}
.textt5{
    position: absolute;
    top: 31px;
    left: 20px;
}
.textt6{
    position: absolute;
    top: 31px;
    left: 20px;
}
.main_contact{
    width: 1207px;
    height: 615px;
    margin: auto;
}
.name{
    color: #FFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 19.2px */
    text-transform: capitalize;
    margin-top: 46px;
    margin-right: 1444px;
}
.box1_contact{
    width: 1207px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #151D25;
    background: linear-gradient(90deg, #151D25 0%, #131618 100%);
    
}
.email{
    color: #FFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 19.2px */
    text-transform: capitalize;
    margin-top: 27px;
    margin-right: 1444px;
    margin-bottom: 15px;

}
.box2_contact{
    width: 1207px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #151D25;
    background: linear-gradient(90deg, #151D25 0%, #131618 100%);
    
}
.message{
    color: #FFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 19.2px */
    text-transform: capitalize;
    margin-top: 27px;
    margin-right: 1444px;
    margin-bottom: 15px;
}
.box3_contact{
    width: 1207px;
    height: 179px;
    border-radius: 5px;
    border: 1px solid #151D25;
    background: linear-gradient(90deg, #151D25 0%, #131618 100%);
    
}
.send{
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background: var(--2-g, linear-gradient(120deg, #BDB2FF 0%, #CE8FFF 100%));
    margin: auto;
    margin-top: 30px;
    position: relative;
}
.sendd{
    color: #0F1113;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 22px;
    left: 106px;
}
.linea{
    width: 1205px;
    height: 2px;
    background-color: #151D25;
    margin: auto;
    margin-top: 69px;
    border-radius: 5px;
}
.linear{
        width: 1205px;
    height: 2px;
    background-color: #151D25;
    margin: auto;
    margin-top: 69px;
    border-radius: 5px;
}
/* quests + contact */

