.mainpage{
    width: 1920px;
    height:4544px ;
    background-color:#0F1113;
}
.header{
    position: relative;
    width: 1920px;
    height: 60px;
    background-color: #0F1113
}
.rightpartinheader{
    position: absolute;
    top: 20px;
    right: 188px;
}
.leftpartinheader{
    position: absolute;
    top: 20px;
    left: 179px;
}
.logoinheader{
    position: absolute;
    top: 18px;
    left: 873px;
}
.linehearheader{
    position: relative;
    top: 60px;
}
.crug{
    position: absolute;
    left: 936px;
    top: 283px;
}
.textnearcrug{
    position: relative;
    right: 377px;
    top: 385px;
    text-align: center;
    font-family: Gilroy;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(144deg, #54D6FF 38%, #C275FF 54.69%, #F36AFF 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.text{
    color: var(--main-white, #FFF);
font-family: Gilroy;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 140%;

}
.ft{
    color: #C1ABFF;
font-family: Gilroy;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 33.6px */
}
.boxfortext{
    position: relative;
    width: 440px;
    left: 408px;
    top: 420px;
}
.buttonandertext{
    margin-top: 460px;
    margin-left: 408px;
    width: 300px;
    height: 60px;
    flex-shrink: 0;

    border-radius: 10px;
    background: linear-gradient(144deg, #54D6FF 38%, #C275FF 54.69%, #F36AFF 100%);
}
.logo{
    position: absolute;
    top: 17px;
    left: 873px;
}